body{
    background-color: rgb(203, 225, 235);
}

#boat{
    /* border: solid black 1px; */
    position: absolute;
    right: 100px;
    top: 350px;
}
#sea{
    z-index: -1;
}

#island{
    /* border: solid black 1px; */
    position: absolute;
    left: 0px;
    top: 120px;
}
#person{
    position: absolute;
    left: 300px;
    top: 300px;
}
#birds{
    position: absolute;
    right: 0;
    top: 100px;
}

#cloud{
    position: absolute;
    right: 0;
    display: flex;
    flex-flow: nowrap;
}